<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>


    <meta charset="utf-8" name="viewport” content=“width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!--<link rel="stylesheet" th:href="@{/css/main.css}"-->
    <!--href="../aaa/main.css"/>-->

    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>


</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="starter-template" th:align="center">
    <h1>Add Grade</h1>
</div>

<div class="container mt-4">
    <form th:action="@{/grade/add}" th:object="${grade}" method="post">
        <div class="form-group">
            <label th:for="Id" th:text="Id"></label>
            <input type="number" th:class="form-control" th:field="*{id}" />
        </div>
        <div class="form-group">
            <label th:for="Subject" th:text="Subject"></label>
            <input type="text" th:class="form-control" th:field="*{subject}" />
        </div>
        <div class="form-group">
            <label th:for="Grade" th:text="Grade"></label>
            <input type="text" th:class="form-control" th:id="Grade" th:name="Grade" th:field="*{grade}" />
        </div>
        <div th:align="center">
            <a th:href="@{~/grade/list}">
                <button type="button" class="btn btn-outline-secondary">Add Grade</button>
            </a>
        </div>
    </form>
</div>
</body>
</html>