<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student Grade</title>


    <meta charset="utf-8" name="viewport” content=“width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>


</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="starter-template" th:align="center">
    <h1>Add Student Grade</h1>
</div>

<div class="container mt-4">
    <form th:action="@{/student/grade/add}" th:object="${studentGrade}" method="post">
        <div class="form-group">
            <label th:for="id" th:text="id"></label>
            <input type="number" th:class="form-control" th:field="*{id}" />
        </div>
        <div class="form-group">
            <label th:for="subject" th:text="subject"></label>
            <input type="text" th:class="form-control" th:field="*{student.firstName}" />
        </div>
        <div class="form-group">
            <label th:for="Grade" th:text="Grade"></label>
            <input type="number" th:class="form-control" th:id="Grade" th:name="Grade" th:field="*{grade}" />
        </div>
        <div th:align="center">
            <a th:href="@{~/student/grade/list}">
                <button type="button" class="btn btn-outline-secondary">Add Student Grade</button>
            </a>
        </div>
    </form>
</div>
</body>
</html>